.bigo{
  background-color:#00C897;
}
p{
  margin:auto;
  color:black;
}
h1{
  text-decoration: underline;
  color: blue;
  font-style:normal;
}
.data{
  text-decoration: underline;
}


.diwakar{
  font-size:0.90rem;
  font-style:normal;
  letter-spacing:1px;
  word-spacing: 1px;
}
.sushant{
  text-decoration:underline;
  color:black;
  font-style:normal;
  background-color: #9ADCFF;
  position:relative;
}
